body{
    padding: 0rem;
    margin: 0rem;
}
.whole{
    display: flex;
    flex-direction: column;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(248, 245, 99);
    height: 5rem;
}
.main{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}